/*
 * CSS based on https://dos.gamebub.com/
 * 
*/

/* @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*/
@font-face {
    font-family: DOS;
    src: url("font.ttf");
}

* { 
    font-family: 'DOS', monospace;
    font-size: 11pt;
}

/*
  font-weight: normal;
  src: url('fonts/Fixedsys500c.eot');
  src: local('☺'), url('fonts/Fixedsys500c.woff') format('woff'), url('fonts/Fixedsys500c.ttf') format('truetype'), url('fonts/Fixedsys500c.svg') format('svg');
}*/



html, button, input, option, select, textarea {
	font-size:100%;
	margin:0 auto;
	padding:0;
}

strong, b {
	font-weight: normal;
}

em, i, cite {
	font-style: normal;
}

cite:before {
	content:'Credit: ';
	color:#fff;
}

h1 {
    background:#000;
    color:#FFF;
    margin: 0px -20px;
    padding: 20px;
    font-size: 1.5em;
}

h2 {
/*    text-transform: uppercase;*/
    font-size: 0.8em;
}

h3 {
    font-size: 0.7em;
}

/*
h4 {
  color: #fe54fe;
}
*/

#container {
	margin:20px 0;
	padding:0 20px;
}

body, pre, code, tt {
  font-family: 'VT323', Consolas, "Courier New", monospace;
}

body {
  margin: 0 auto;
  font-size: 18pt;
  line-height: 20px;
  color: #bbbbbb;
  background-color: #3f3f3f;
  max-width:800px;
}

a {
  color: #FEFE54;
  text-decoration: none;
  text-shadow: 0 0 8px #0F0;
}

a:hover,
a:focus {
  color: #fefe54;
  background: #000;
}

img {
	display:inline-block;
	padding: 3px 6px;
	border: 1px solid #ddd;
	margin:0 20px 0 0;
}

a:hover img {
	background: #aa5500;
}

.download a:before {
	content:"< ";
}

.download a:after {
	content:" >";
}

.download a {
	color:#000;
	background:#bbb;
	box-shadow:10px 10px 0 #000;
	display:inline-block;
	margin:0 20px;
	padding:10px;
}

.download a:hover {
	background:#555;
	color:#fff;
}

.download span {
	display: block;
	margin:20px 0 0 50px;
}

#logo {

}

#tagline {
	text-align: left;
}

#nav, #nav li {
	margin:0;
	padding:0;
	background:#bbb;
}

#nav {
	padding:0 10px;
	height:20px;
	line-height: 1;
}

#nav li {
	display:inline;
	margin:0 0 0 0;
}

#nav li:last-child {
	margin:0;
}

#nav a {
	color:#000;
	padding:0 10px;
}

#nav .selected a {
	color:#000084;
}

#nav a:hover {
	background:#000;
	color:#bbb;
}

#aside {
	margin: 20px 5px 40px -15px;
	background:#bbb;
	display: inline-block;
	box-shadow: 0 0 0 5px, 11px 13px 0 4px #000;
}

#aside h4 {
	/*color:#fff;*/
	margin-left:15px;
}

#secondary_nav {
	border: 2px solid #000;
	display: inline-block;
	margin:5px 0 0;
	padding: 10px 15px;
	background:#bbb;
	list-style: outside none none;
}

#secondary_nav li {
	line-height: 20px;
	list-style: outside none none;
	margin-left: 0;
	white-space: nowrap;
}

#secondary_nav li.selected {
	background:#0aa;
}

#secondary_nav li a {
	color: #000;
	display:block;
	padding: 0 8px;
	margin-left: -10px;
    margin-right: -10px;
}

#secondary_nav li a:hover {
	background:#000;
	color:#bbb;
}

#secondary_nav li.selected a, #secondary_nav li.selected a:hover {
	background:#0aa;
	color:#fff;
}

hr {
    margin: 20px auto 20px auto;
    border-top: 0px solid #bbb;
    border-bottom: 0.5px dashed #fff;
    width: 50%;
    text-align: center;
}

#content hr {
	display:block;
}

#content ul, #content li {
	margin-left:0;
	padding-left:0;
	margin-right:0;
	padding-right:0;
}

#content li {
	list-style:none;
}

#content li:before {
	content:'* ';
	color:#fff;
}

table {
	border-collapse: collapse;
	border: 2px solid #ddd;
	margin:10px -10px 20px -10px;
	width: 100%;
}

th, td {
	border: 2px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	color:#fff;
	font-weight: normal;
}

td {
	clear:both;
}

td img {
	vertical-align: top;
	margin:0 10px 0 0;
	border:0;
	padding:0;
	float:left;
}

td.alt_row {
	background:#555;
	color:#fff;
}

pre {
	background:#000;
	color:#fff;
	margin-left:-20px;
	margin-right:-20px;
	padding:10px;
	font-size:14px;
}

dt {
	color:#fff;
}

tt {
	color:#fff;
}

#extra {
}

#extra #aside {
	float:left;
}

#extra #g0 {
	float:right;
	width:50%;
	max-width: 336px;
	margin-top:15px;
}

.col {
	float:left;	
	width:49%;
}

#content {
	clear:both;
}


.pages a {
	padding:5px 10px;
}

.heading_views, .views {
	text-align: right;
}

#footer {
	border-top: 2px solid #fff;
	margin:20px;
}

#footer ul, #footer li {
	margin:0;
	padding:0;
	display:inline;
	list-style: none;
}

#footer img {
	border:none;
	margin:0;
	padding:0;
	display:inline;
}

.clear {
	clear: both;
	height:20px;
}



/*RESPONSIVE*/
@media only screen and (max-width:840px) {
	.col {
		float:none;
		margin:0 0 20px;
		width:auto;
	}

	.clear {
		height:auto;
	}
}

@media only screen and (max-width:640px) {
	#extra #aside, #extra #g0 {
		float:none;
	}

	#extra #aside {
		margin:20px 5px;
	}

	#extra #g0 {
		max-width: 100%;
		margin:20px 0;
	}
}

@media only screen and (max-width:480px) {
	#nav span {
		display:none;
	}

	img {
		display:inline-block;
		padding:0;
		border:none;
		margin:0;
	}

	#content img {
		width:100%;
		height:auto !important;
	}

	#extra #g0 {
	}
}
